.footer-container{
    
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: #0C9C2CCC;
    font-family: "Poppins";
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    padding: 20px;
    margin-top: 20px ;
}
.column {
    padding: 10px;
    margin: 0 auto;
}
.logo-bg{
    background-color: #fff;
    width:auto;
    height:50px;
}

.column h3 {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #ff5733;
    /* Change the color on hover */
}

.horizontal-line {
    border: 0.3px solid rgba(10, 3, 3, 0.5);
    width: 95%;
    margin: 0px auto;
}
.copyright {
    text-align: center;
    font-size: 0.9rem;
    margin: 5px;
}